.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.fill {
  flex-grow: 1;
}

.logWrapper {
  width: 25%;
  position:relative;
  resize: horizontal;
  background-color: lightgray;
  overflow:scroll;
  border: 2px solid black;
}

.log {
  position:absolute;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logContent {
  height: 49%;
  overflow: scroll;
}
