.logWrapper {
  min-width: 23em;
  position: relative;
  resize: horizontal;
  overflow: scroll;
}

.log {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f3f3f8;
  background-color: #282a3a;
}

.logContent {
  overflow: scroll;
  border: 2px solid black;
  padding: 10px;
}

.logHeader {
  /* font-size: large; */
  font-weight: bold;
}

.playByPlayContent {
  padding-left: 10px;
  padding-bottom: 20px;
}

.boxScore {
  padding-bottom: 20px;
}

.boxScore td {
  padding: 2px;
}

.drivePlayers {
  padding: 0.2em 0;
  color: #d1d1d6;
  font-size: 0.95em;
}

.drivePlayerRow {
  padding: 0.15em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.drivePlayerRow:last-child {
  border-bottom: none;
}

.drivePlayerName {
  font-weight: 600;
}

.drivePlayerManager {
  color: #8fd1ff;
  font-size: 0.9em;
}

.drivePlayerStats {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35em;
  margin-top: 0.1em;
}

.drivePlayerStat {
  padding: 0.1em 0.35em;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 4px;
}
