.flex {
    display: flex;
}

.wrapped {
    font-family: 'Courier New', Courier, monospace;
}

.grey {
    background-color: grey !important;
}

.bubble {
    background-color: white;
    display: inline-block;
    border-radius: 1em;
    border: 2px solid black;
    padding: 0.7em;
    margin: 0.5em;
}

.hover:hover {
    cursor: pointer;
  }