.bubble {
  border-radius: 15px;
  border: 2px solid black;
  padding: 13px;
  margin: 13px;
  display: inline-block;
}

.main {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.menu {
  resize: horizontal;
  width: 20em;
  background-color: lightgray;
  overflow: scroll;
  flex-shrink: 0;
}

.header {
  margin: 0.3em;
}

.menu_textarea {
  width: 50em;
  height: 20em;
}

/* screens */

.screens_wrapper {
  flex-grow: 1;
  background-color: black;
}

.screens {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-wrap: wrap;
  align-content: flex-start;
}

.screen_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
  background-color: green;
}

.screen_helper {
  flex-grow: 1;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iframe_wrapper {
  position: relative;
  overflow: visible;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.iframe_wrapper > * {
  height: 100%;
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.5;
  border: 2px solid black;
  display: inline-block;
}

.what {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hmm {
  display: inline-block;
  position: relative;
  /* width: 100%; */
  /* max-height: 100%; */
  height: 100% !important;
  max-width: 100%;
  flex: 0 0 auto;
}

.iframe_sizer {
  width: 100%;
  flex: 0 0 auto;
  height: 100%;
}

.invisble {
  opacity: 0;
}
