.screens_wrapper {
  flex-grow: 1;
  background-color: black;
}

.screens {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-wrap: wrap;
  align-content: flex-start;
}

.screen_wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: lightgray;
}

.title {
  width: 100%;
  text-align: center;
}

.screen {
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-grow: 1;
}

/* scaleable iframe */

.sub_screen {
  height: 100%;
  width: 100%;
  position: relative;
}

.sized {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.iframe {
  position: absolute;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  overflow: visible;
}

.full {
  width: 100%;
  height: 100%;
}

.invisible {
  opacity: 0;
}

.sizer {
  opacity: 0.5;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
