.screens {
  flex-grow: 1;
  background-color: black;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;
}

.spotlight {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: stretch;
}

.aux_screens {
  display: flex;
  justify-content: space-evenly;
}

.screen_wrapper {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  color: lightgray;
}

.title {
  width: 100%;
  text-align: center;
}

.screen {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
}
