.screens_wrapper {
  flex-grow: 1;
  background-color: black;
}

.screens {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selected_screen {
  width: 100%;
  order: -1;
  min-height: 66%;
}

.screen_wrapper {
  display: inline-flex;
  flex-direction: column;
}

.title {
  width: 100%;
  text-align: center;
  color: lightgray;
}

.screen {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  resize: vertical;
  overflow: hidden;
  border: 1px solid lightgray;
}

.screen_mask {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
